.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 11px;
}

.arrows {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.buttonOne {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  cursor: pointer;
}

.buttonTwo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
}

.iconOne {
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
}

:disabled {
  cursor: default;
  border-color: rgba(38, 38, 38, 0.05);
}

.iconDisabl {
  fill: rgba(38, 38, 38, 0.5);
}

.rotate {
  rotate: 180deg;
}

.buttonNumBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonNumber {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  background-color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #262626;
  cursor: pointer;
}

.currentPage {
  background-color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .pagination {
    gap: 24px;
  }

  .buttonTwo,
  .buttonOne {
    width: 44px;
    height: 44px;
  }

  .buttonNumber {
    width: 44px;
    height: 44px;
    font-size: 18px;
  }

  .icon,
  .iconOne {
    width: 19px;
    height: 19px;
  }

  .arrows {
    gap: 8px;
  }
}
