.filtersContainer {
  width: 100%;
  margin: 40px 0 40px 0;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #fff4df;
  padding: 20px;
}

.narrowSearch {
  max-width: 295px;
  height: 42px;
  width: 100%;
}

.narrowSearch input {
  border: none;
  background-color: #fff;
}

.filtersList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.filterItem {
  width: 100%;
}

.filterItemBytype {
  flex: 1;
  max-width: 295px;
  width: 100%;
}

.filterItemLocation {
  flex: 1;
  min-width: 244px;
  width: 100%;
}

.categoryGenderRow {
  display: flex;
  gap: 8px;
  flex: 2;
  min-width: 220px;
  width: 100%;
  margin: 0;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.selectWrapperBytype {
  position: relative;
  width: 100%;
}

.selectWrapperLocation {
  position: relative;
  width: 100%;
}

.selectLabel {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLabel {
  width: 12px;
  height: 12px;
  fill: #262626;
  transform: rotate(90deg);
}

.iconSearch {
  width: 18px;
  height: 18px;
  stroke: #262626;
  fill: none;
}

.filterSelect {
  width: 100%;
  height: 42px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
}

.filterSelectBytype {
  flex: 1;
  min-width: 150px;
  width: 100%;
  height: 42px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
}

.filterSelectLocation {
  flex: 1;
  min-width: 244px;
  width: 100%;
  height: 42px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
}

.filterSelectLocation:focus,
.filterSelectBytype:focus,
.filterSelect:focus {
  outline: 1px solid #f6b83d;
}

.sortingResetContainer {
  max-width: 295px;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 3;
  gap: 10px;
}

.sortingButtonsWrapper {
  display: flex;
  max-width: 208px;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.sortingRow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.sortButton {
  padding: 12px;
  background-color: #fff;
  color: #262626;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  white-space: nowrap;
  user-select: none;
}

.sortButton.active {
  background-color: #f6b83d;
  color: white;
}

.iconX {
  width: 18px;
  height: 18px;
  fill: currentColor;
  stroke: currentColor;
}

.resetButton {
  padding: 12px 18px;
  background-color: #f6b83d;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.resetButton:hover {
  background-color: #f9b020;
}

@media (min-width: 768px) {
  .filtersContainer {
    max-width: 704px;
    margin: 44px 0 32px 0;
    padding: 40px 32px;
  }

  .narrowSearch {
    max-width: 265px;
    height: 48px;
  }

  .filtersList {
    gap: 16px;
  }

  .filterItem {
    max-width: 265px;
  }

  .filterItemBytype {
    max-width: 190px;
  }

  .filterItemLocation {
    max-width: 227px;
  }

  .filterSelect {
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .filterSelectBytype {
    width: 190px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .filterSelectLocation {
    width: 227px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .categoryGenderRow {
    gap: 16px;
  }

  .selectLabel {
    right: 15px;
  }

  .selectWrapperBytype {
    width: 190px;
  }

  .selectWrapperLocation {
    width: 227px;
  }

  .sortingResetContainer {
    min-width: 640px;
    gap: 8px;
    justify-content: space-between;
  }

  .sortingButtonsWrapper {
    max-width: 480px;
    width: 100%;
    flex-direction: row;
    gap: 8px;
  }

  .sortingRow {
    display: flex;
    gap: 8px;
    min-width: 300px;
    width: 100%;
  }

  .sortButton {
    padding: 14px;
    height: 48px;
    font-size: 16px;
  }

  .resetButton {
    padding: 12px 20px;
    height: 48px;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .filtersContainer {
    max-width: 1152px;
    margin: 40px 0 40px 0;
    padding: 32px 22px;
  }

  .filtersList {
    gap: 16px;
  }

  .filterItemLocation {
    min-width: 0;
    width: 227px;
    flex: 0 0 227px;
  }

  .filterSelect {
    max-width: 184px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .filterSelectBytype {
    width: 184px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .filterSelectLocation {
    min-width: 225px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }

  .filterItemBytype {
    max-width: 184px;
  }

  .categoryGenderRow {
    min-width: 384px;
    width: auto;
    flex: 0 0 auto;
    gap: 16px;
  }

  .selectLabel {
    right: 15px;
  }

  .selectWrapper {
    width: 184px;
  }

  .selectWrapperBytype {
    width: 184px;
  }

  .selectWrapperLocation {
    width: 227px;
  }

  .sortingResetContainer {
    min-width: 1109px;
    gap: 8px;
    justify-content: space-between;
  }

  .resetButton {
    padding: 12px 20px;
    height: 48px;
    font-size: 16px;
  }
}
