.userCard {
  max-width: 335px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding: 18px 20px 40px 20px;
  border-radius: 30px;
  background-color: #fff;
  list-style: none;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .userCard {
    padding: 40px;
    max-width: 704px;
    height: 100%;
    border-radius: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .userCard {
    max-width: 520px;
    margin: 0;
  }
}
