.petBlock {
  position: relative;
  border-radius: 30px;
  height: 280px;
  background-color: #f6b83d;
  background-image: url(../../../public/fonDogMob_1x.png);
  background-size: 313px 243px;
  background-repeat: no-repeat;
  background-position: 20px 35px;
}

.addPet {
  height: 213px;
}

.addPets {
  position: absolute;
  left: 25px;
  top: 0px;
}

@media screen and (min-resolution: 192dpi) {
  .petBlock {
    background-image: url(../../../public/fonDogMob_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .petBlock {
    border-radius: 60px;
    height: 302px;
    background-image: url(../../../public/fonDogTab_1x.png);
    background-size: 531px 249px;
    background-position: 120px 55px;
  }

  .addPet {
    height: 248px;
  }

  @media screen and (min-resolution: 192dpi) {
    .petBlock {
      background-image: url(../../../public/fonDogTab_2x.png);
    }
  }

  .imgPetBlock {
    display: block;
    margin-left: 250px;
    /* width: 512px;
    height: 248px; */
  }
}

@media screen and (min-width: 1280px) {
  .petBlock {
    width: 592px;
    height: 654px;
    background-image: url(../../../public/fonDogPc_1x.png);
    background-size: 531px 601px;
    background-position: 30px 51px;
  }

  @media screen and (min-resolution: 192dpi) {
    .petBlock {
      background-image: url(../../../public/fonDogPc_2x.png);
    }
  }

  .imgPetBlock {
    margin-left: 40px;

    width: 512px;
    height: 660px;
  }

  .cat {
    position: absolute;
    top: 22px;
  }

  .addPets {
    position: absolute;
    left: -5px;
    top: 6.4px;
  }
}
