/* src/components/MyNotices/MyNotices.module.css */

/*  小 孝 (ul) */
.myNotices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  /* margin: 0; */
  width: 335px;
  margin: 0 auto;
}

/*  孝 携 笑 (li) */
.boxNav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/*  小小蝎- */
.link {
  display: block;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 12px;
  width: 125px;
  height: 42px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #262626;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  border: 1px solid #f6b83d;
}

/*  孝携  */
.link.active {
  background-color: #f6b83d;
  color: #fff;
}

/*  小小孝携 校 */
.loading {
  text-align: center;
  padding: 40px 0;
  color: #666;
  font-size: 14px;
}

/*  孝小孝鞋 */
@media screen and (max-width: 374px) {
  .myNotices {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .link {
    padding: 14px;
    width: 143px;
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
  }

  .myNotices {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .myNotices {
    width: 600px;
    gap: 32px;
    margin: 0;
  }
}
