/* Стили для главного контейнера */
.layout {
  /* Растягиваем контейнер на минимально возможную высоту всего окна браузера.
     Это важно, чтобы даже если контента мало, футер (если будет) был внизу. */
  min-height: 100vh;
  /* Делаем раскладку колонкой: Header сверху, main посередине. */
  display: flex;
  flex-direction: column;
}

/* Стили для основного блока контента */
.main {
  /* Основной контент (main) занимает все доступное пространство, 
     прижимая возможный футер к низу. */
  flex: 1 0 auto;
  /* Можно добавить внутренние отступы, если по дизайну нужно. */
  /* padding: 20px; */
}
