/* src/components/UserCard/EditUserBtn/EditUserBtn.module.css */

.editUserBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nameIconWrapper {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 30px;
  padding: 10px 14px;
  height: 38px;
  background-color: #f6b83d;
  align-items: center;
}

.userName {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 0;
}

.userIcon {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.editButton {
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background-color: #fff4df;
  cursor: pointer;
  transition: all 0.3s ease;
}

.editButton:hover {
  background-color: #fbe7c1;
}

.editButton svg {
  width: 18px;
  height: 18px;
  fill: #f6b83d;
}

@media screen and (min-width: 768px) {
  .editButton {
    margin-bottom: 0;
  }
}
