.userBlock {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.imgIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 28px 0;
}

.imgUser {
  border-radius: 100px;
  padding: 10px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.boxIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.iconUser {
  border-radius: 100px;
  padding: 28px;
  width: 94px;
  height: 94px;
  background-color: #fff4df;
  fill: #262626;
}

.fileInput {
  display: none;
}

.buttonImg {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #262626;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.buttonImg:hover {
  color: #f6b83d;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.boxInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.input {
  box-sizing: border-box;
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px;
  width: 295px;
  height: 42px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #262626;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .imgUser {
    width: 110px;
    height: 110px;
  }

  .title {
    font-size: 18px;
    line-height: 1.33;
  }

  .boxInput {
    gap: 14px;
    justify-content: flex-start;
  }

  .input {
    padding: 16px;
    width: 305px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }

  .buttonImg {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .input {
    width: 440px;
  }
}

.input:focus {
  outline: none;
  box-shadow: none;
}
