/* 🎯 ОСНОВНЫЕ СТИЛИ UserNav */
.userNav {
  /* height: 68px; */
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 🎯 СПИСОК UserNav */
.userNavList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 🎯 ЭЛЕМЕНТЫ СПИСКА UserNav */
.userNavItem {
  display: flex;
  align-items: center;
}

/* 🎯 АДАПТИВНОСТЬ */
@media screen and (max-width: 767px) {
  .userNav {
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .userNavList {
    flex-direction: column;
    width: 100%;
  }
  
  .userNavItem {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .userNav {
    flex-direction: row;
    gap: 8px;
  }
  
  .userNavList {
    flex-direction: row;
  }
}