.sectionNews {
  box-sizing: border-box;
  max-width: 375px;
  padding: 34px 20px 80px 20px;
  margin: 0 auto;
}

.titleAndSearch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticesList {
  margin-top: 24px;
}

.pagination {
  margin-top: 44px;
}

.spinners {
  top: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .sectionNews {
    max-width: 768px;
    padding: 69px 32px 80px 32px;
  }

  .titleAndSearch {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }

  .noticesList {
    margin-top: 44px;
  }

  .pagination {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .sectionNews {
    max-width: 1280px;
    padding: 80px 64px 80px 64px;
  }

  .noticesList {
    margin-top: 60px;
  }
}
