/* src/components/DisplayPassword/DisplayPassword.module.css */

.input {
  display: none;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 22px;
    height: 22px;
  }
}
