/* src/components/Friends/FriendsList/FriendsList.module.css */

.friendsList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emptyContainer {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 18px;
}

/* 🎯 АДАПТИВНОСТЬ */
@media screen and (min-width: 768px) {
  .friendsList {
    margin-top: 44px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .friendsList {
    margin-top: 60px;
    gap: 20px;
    row-gap: 28px;
  }
}
