/* 🎯 ОСНОВНЫЕ СТИЛИ КНОПКИ ВЫХОДА */
.logoutBtn {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 30px;
    padding: 15px 35px;
    width: 136px;
    height: 50px;
    background-color: #f6b83d;
}


.logoutBtn:hover,
.logoutText:hover {
  background-color:  #fff4df;
  border-color:  #fff4df;
  color: #f6b83d;

}

/* .logoutBtn:active {
  transform: translateY(0);
} */

/* 🎯 ИКОНКА ВЫХОДА */
/* .logoutIcon {
  width: 20px;
  height: 20px;
  fill: white;
} */

/* 🎯 ТЕКСТ КНОПКИ */
.logoutText {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

/* 🎯 АДАПТИВНОСТЬ */
@media screen and (max-width: 768px) {
.logoutBtn {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 30px;
    padding: 15px 35px;
    width: 136px;
    height: 50px;
    background-color: #f6b83d;
}

.logoutBtn:hover {
  background-color: #fff4df;
  border-color: #fff4df;
  color: #f6b83d;

}
}