.newsItem {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newsItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.newsItem:hover .newsImage {
  transform: scale(1.05);
}

.newsContent {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.newsTitle {
  font-weight: 700;
  font-size: 16px;
  color: #262626;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsDescription {
  font-size: 14px;
  color: #262626;
  margin: 0;
  margin-bottom: 19px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsDateBlock {
  display: flex;
  justify-content: space-between;
}

.newsDate {
  font-size: 14px;
  color: rgba(38, 38, 38, 0.5);
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin: 0;
}

.newsLink {
  font-weight: 700;
  font-size: 14px;
  color: #f6b83d;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.newsLink:hover {
  color: #f9b020;
}

@media screen and (min-width: 768px) {
  .imageContainer {
    height: 226px;
  }

  .newsTitle {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .newsDescription {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .newsContent {
    padding: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .newsContent {
    padding: 28px;
  }
}
