.sectionHome {
  box-sizing: border-box;
  width: 100%;
  max-width: 375px; 
  padding: 0 20px; 
  margin: 0 auto;
  margin-top: -19px;
}


.listHome {
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.titleBox {
  background-color: #f6b83d;
  padding: 50px 20px; 
  border-bottom-right-radius: 30px; 
  border-bottom-left-radius: 30px;
}


.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
}


.colorTitle {
  color: rgba(255, 255, 255, 0.4);
}


.paragraph {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px; 
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 24px;
}


.homeImg {
  border-radius: 30px; 
  width: 100%; 
  height: 402px;
  background-image: url(../../assets/homeMob_1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}


@media screen and (min-resolution: 192dpi) {
  .homeImg {
    background-image: url(../../assets/homeMob_2x.jpg);
  }
}


@media screen and (max-width: 374px) {
  /* .sectionHome {
    padding: 0 20px;
    max-width: 375px;
  } */
  
  /* .titleBox {
  padding: 50px 20px;
  } */
  
}


@media screen and (min-width: 768px) {
  .sectionHome {
    max-width: 768px;
    padding: 0 32px;
  }

  /* .listHome {
    gap: 0px;
  } */

  .titleBox {
    padding: 101px 32px 44px 32px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .title {
    font-size: 80px;
  }

  .paragraph {
    margin-left: 385px;
    width: 257px;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 32px;
  }

  .homeImg {
    width: 100%;
    max-width: 704px;
    height: 496px;
    border-radius: 60px;
    background-image: url(../../assets/homeTab_1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .homeImg {
      background-image: url(../../assets/homeTab_2x.jpg);
    }
  }
}


@media screen and (min-width: 1280px) {
  .sectionHome {
    max-width: 1280px;
    padding: 0 32px;
  }

  .titleBox {
    /* background-color: #f6b83d; */
    padding: 93px 64px 32px 64px;
    display: flex;
    flex-direction: row;
    gap: 73px;
  }

  .title {
    font-size: 90px;
    width: 760px;
  }

  .paragraph {
    font-weight: 500;
    align-self: flex-end;
    margin-left: 0px;
    font-size: 18px;
    line-height: 1.22;
  }

  .homeImg {
    width: 100%;
    max-width: 1216px;
    height: 384px;
    background-image: url(../../assets/homeDesktop_1x.jpg);
  }


  @media screen and (min-resolution: 192dpi) {
    .homeImg {
      background-image: url(../../assets/homeDesktop_2x.jpg);
    }
  }
}